@font-face {
  font-family: Kravet;
  font-style: normal;
  src: url("../fonts/Kravet.ttf");
}
@font-face {
  font-family: Raleway_Regular;
  font-style: normal;
  src: url("../fonts/Raleway-Regular.ttf");
}
@font-face {
  font-family: Raleway_Bold;
  font-style: strong;
  src: url("../fonts/Raleway-Bold.ttf");
}
#div_02_app_explanations {
  background-image: url("../img/fond_marbre.png");
  background-repeat: repeat;
  font-size: 32px;
}
