@font-face {
  font-family: Elephant;
  font-style: normal;
  src: url("../fonts/Elephant.TTF");
}
@font-face {
  font-family: Overpass;
  font-style: normal;
  src: url("../fonts/Overpass-Regular.ttf");
}
#explanations {
  margin-top: -42px;
  font-size: 32px;
  background-image: url("../img/fond_marbre.png");
  background-repeat: repeat;
}
#explanations h2 {
  padding-top: 84px;
}
#explanations #instructions_and_mockup_phone {
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-between;
}
#explanations #instructions_and_mockup_phone #instructions {
  display: flex;
  flex-direction: column;
  width: 768px;
}
#explanations #instructions_and_mockup_phone #instructions .instruction_entry {
  display: flex;
  flex-direction: row;
  padding-bottom: 48px;
}
#explanations #instructions_and_mockup_phone #instructions .instruction_entry .instruction_icon {
  width: 48px;
  height: 48px;
  padding-right: 24px;
}
#explanations #instructions_and_mockup_phone #instructions .instruction_entry .instruction_icon img {
  width: 48px;
  height: 48px;
}
#explanations #instructions_and_mockup_phone #instructions .instruction_entry .instruction_text {
  text-align: left;
  padding-top: 8px;
}
#explanations #instructions_and_mockup_phone #instructions .instruction_entry .instruction_text .rart_marker {
  width: 420px;
  height: auto;
  margin: 32px;
  box-shadow: 4px 4px 8px #000;
}
#explanations #instructions_and_mockup_phone #mockup_phone img {
  width: 320px;
  height: auto;
}
@media screen and (max-width: 1300px) {
  #explanations #instructions_and_mockup_phone {
    width: 1024px;
  }
  #explanations #instructions_and_mockup_phone #instructions {
    width: 512px;
  }
}
@media screen and (max-width: 1100px) {
  #explanations {
    font-size: 26px;
  }
  #explanations #instructions_and_mockup_phone {
    width: 860px;
  }
  #explanations #mockup_phone img {
    width: 260px;
    height: auto;
  }
}
@media screen and (max-width: 880px) {
  #explanations {
    font-size: 32px;
  }
  #explanations #instructions_and_mockup_phone {
    flex-direction: column-reverse;
    width: 800px;
  }
  #explanations #instructions_and_mockup_phone #instructions {
    width: 760px;
  }
}
@media screen and (max-width: 780px) {
  #explanations {
    font-size: 26px;
  }
  #explanations #instructions_and_mockup_phone {
    width: 386px;
  }
  #explanations #instructions_and_mockup_phone #instructions {
    width: 580px;
  }
  #explanations #instructions_and_mockup_phone #instructions li p {
    text-align: left;
  }
}
@media screen and (max-width: 480px) {
  #explanations {
    font-size: 22px;
  }
  #explanations h2 {
    padding-top: 16px;
  }
  #explanations #instructions_and_mockup_phone #instructions {
    width: 386px;
  }
  #explanations #instructions_and_mockup_phone #instructions ul {
    padding-left: 16px;
  }
  #explanations #instructions_and_mockup_phone #instructions ul li .instruction_icon {
    width: 40px;
    height: 40px;
    vertical-align: bottom;
    padding-right: 8px;
  }
}
