@font-face {
  font-family: Elephant;
  font-style: normal;
  src: url("../fonts/Elephant.TTF");
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  width: 100%;
  text-align: center;
}
header {
  background-image: url("../img/rideau1.png");
  background-repeat: repeat;
  height: 139px;
  width: 100%;
}
footer #footer_background {
  background-image: url("../img/ecran_capture_large.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 328px;
  width: 768px;
  margin-left: auto;
  margin-right: auto;
}
