@font-face {
  font-family: Elephant;
  font-style: normal;
  src: url("../fonts/Elephant.TTF");
}
@font-face {
  font-family: Overpass;
  font-style: normal;
  src: url("../fonts/Overpass-Regular.ttf");
}
@font-face {
  font-family: OverpassBold;
  font-style: bold;
  src: url("../fonts/Overpass-ExtraBold.ttf");
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  width: 100%;
  text-align: center;
  font-family: Overpass;
  background-color: #f0f0f0;
  color: #3c3c3c;
}
body h2 {
  font-size: 52px;
  color: #141414;
}
body a {
  color: rgba(33,49,134,0.8);
  font-style: bold;
  text-decoration: none;
}
body a:hover {
  text-decoration: underline;
}
header {
  background-image: url("../img/rideau1.png");
  background-repeat: repeat;
  height: 64px;
  width: 100%;
}
@media screen and (min-width: 880px) {
  header {
    display: none;
  }
}
.frame_separator {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 100%;
}
.frame_separator .left_corner {
  width: 123px;
  height: 30px;
}
.frame_separator .middle_corner {
  background-image: url("../img/middle_part.png");
  background-repeat: repeat-x;
  background-size: contain;
  width: 2048px;
  height: 30px;
}
.frame_separator .right_corner {
  width: 123px;
  height: 30px;
}
@media screen and (max-width: 400px) {
  .frame_separator {
    display: none;
  }
}
