@font-face {
  font-family: Elephant;
  font-style: normal;
  src: url("../fonts/Elephant.TTF");
}
@font-face {
  font-family: Overpass;
  font-style: normal;
  src: url("../fonts/Overpass-Regular.ttf");
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  width: 100%;
  text-align: center;
  font-family: Overpass;
  background-color: #f0f0f0;
  color: #3c3c3c;
}
body h2 {
  font-size: 52px;
  color: #141414;
}
body a {
  color: #0a0a0a;
  font-style: bold;
  text-decoration: none;
}
body a:hover {
  text-decoration: underline;
}
body .main_div {
  padding-top: 128px;
  padding-bottom: 128px;
}
header {
  background-image: url("../img/rideau1.png");
  background-repeat: repeat;
  height: 64px;
  width: 100%;
}
.frame_separator {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 100%;
}
.frame_separator .left_corner {
  width: 123px;
  height: 30px;
}
.frame_separator .middle_corner {
  background-image: url("../img/middle_part.png");
  background-repeat: repeat-x;
  background-size: contain;
  width: 2048px;
  height: 30px;
}
.frame_separator .right_corner {
  width: 123px;
  height: 30px;
}
footer {
  color: #afafaf;
  margin-top: 128px;
}
footer a {
  color: #afafaf;
}
footer #footer_background {
  text-align: bottom;
  background-image: url("../img/footer.png");
  background-repeat: no-repeat;
  background-size: 520px 256px;
  height: 256px;
  width: 520px;
  margin: auto;
}
footer #footer_background div {
  height: 256px;
  display: flex;
  flex-direction: column-reverse;
  margin-top: auto;
  margin-bottom: 0;
}
footer #footer_background div p {
  text-align: center;
  margin-left: 48px;
  margin-right: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2px;
}
