#presentation #top_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
}
@media screen and (max-width: 880px) {
  #presentation #top_content {
    display: block;
    height: auto;
  }
}
#presentation #top_content .sheet_image {
  width: 220px;
  min-width: 220px;
  max-width: 220px;
  height: 880px;
}
#presentation #top_content .sheet_image img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1200px) {
  #presentation #top_content .sheet_image {
    display: none;
  }
}
#presentation #top_content .right_sheet {
  transform: scaleX(-1);
}
#presentation #top_content .presentation_content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 85%;
  height: 480px;
  padding-top: 128px;
}
@media screen and (max-width: 1200px) {
  #presentation #top_content .presentation_content {
    padding-top: 64px;
    width: 100%;
    padding-bottom: 64px;
  }
}
@media screen and (max-width: 880px) {
  #presentation #top_content .presentation_content {
    display: block;
    width: 100%;
    padding-top: 32px;
    height: auto;
  }
}
#presentation #top_content .presentation_content .name_and_catchphrase {
  width: 500px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (max-width: 880px) {
  #presentation #top_content .presentation_content .name_and_catchphrase {
    width: auto;
  }
}
#presentation #top_content .presentation_content .name_and_catchphrase h1 {
  font-family: Elephant;
  font-size: 128px;
  color: #141414;
  margin: 0;
}
@media screen and (max-width: 480px) {
  #presentation #top_content .presentation_content .name_and_catchphrase h1 {
    font-size: 92px;
  }
}
@media screen and (max-width: 340px) {
  #presentation #top_content .presentation_content .name_and_catchphrase h1 {
    font-size: 80px;
  }
}
#presentation #top_content .presentation_content .name_and_catchphrase h3 {
  margin: 32px 32px;
  font-size: 36px;
}
@media screen and (max-width: 800px) {
  #presentation #top_content .presentation_content .name_and_catchphrase h3 {
    font-size: 30px;
  }
}
@media screen and (max-width: 340px) {
  #presentation #top_content .presentation_content .name_and_catchphrase h3 {
    font-size: 26px;
    margin: 16px 16px;
  }
}
#presentation #top_content .presentation_content .name_and_catchphrase .google_play {
  margin: 64px auto;
  width: 256px;
  margin-bottom: 0px;
}
#presentation #top_content .presentation_content .name_and_catchphrase .google_play img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 520px) {
  #presentation #top_content .presentation_content .name_and_catchphrase .google_play {
    margin: 64px auto;
    width: 192px;
  }
}
#presentation #top_content .presentation_content .illustration {
  width: auto;
  height: 480px;
}
#presentation #top_content .presentation_content .illustration img {
  height: 90%;
}
@media screen and (max-width: 880px) {
  #presentation #top_content .presentation_content .illustration {
    display: none;
  }
}
#presentation .flower {
  width: 128px;
  height: auto;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: -6px;
  margin-top: 22px;
}
@media screen and (min-width: 880px) {
  #presentation .flower {
    display: none;
  }
}
#presentation .flower img {
  width: 100%;
  height: 100%;
}
