#presentation {
  margin-bottom: 82px;
}
#presentation h1 {
  font-family: Elephant;
  font-size: 128px;
  margin: 32px;
  color: #141414;
}
@media screen and (max-width: 800px) {
  #presentation h1 {
    font-size: 92px;
  }
}
#presentation h3 {
  margin: 0px 32px;
  font-size: 36px;
}
@media screen and (max-width: 800px) {
  #presentation h3 {
    font-size: 28px;
  }
}
#presentation .illustration {
  background-image: url("../img/illus.png");
  background-size: 726px 500px;
  background-repeat: no-repeat;
  width: 726px;
  height: 500px;
  margin: auto;
  margin-top: 96px;
  border-radius: 16px;
}
@media screen and (min-width: 581px) and (max-width: 800px) {
  #presentation .illustration {
    background-size: 544px 375px;
    width: 544px;
    height: 375px;
  }
}
@media screen and (max-width: 620px) {
  #presentation .illustration {
    background-size: 363px 250px;
    width: 363px;
    height: 250px;
  }
}
@media screen and (max-width: 400px) {
  #presentation .illustration {
    background-size: 250px 172px;
    width: 250px;
    height: 172px;
  }
}
#presentation .google_play {
  padding-top: 128px;
  width: 256px;
}
