#team {
  padding: 64px 0;
}
#team #all_workers {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-content: space-between;
  justify-content: space-between;
  width: 1200px;
  align-items: center;
}
@media screen and (max-width: 1500px) {
  #team #all_workers {
    width: 1100px;
  }
}
@media screen and (max-width: 1200px) {
  #team #all_workers {
    width: 840px;
  }
}
@media screen and (max-width: 880px) {
  #team #all_workers {
    display: flex;
    flex-direction: column;
    width: 386px;
    align-items: center;
  }
}
@media screen and (max-width: 400px) {
  #team #all_workers {
    width: 280px;
  }
}
#team #all_workers .worker {
  width: 256px;
  height: 384px;
  color: #0a0a0a;
  font-size: 18px;
}
@media screen and (max-width: 1024px) {
  #team #all_workers .worker {
    height: 256px;
  }
}
@media screen and (max-width: 880px) {
  #team #all_workers .worker {
    height: auto;
    padding-bottom: 32px;
  }
}
#team #all_workers .worker h2 {
  margin: 8px;
}
#team #all_workers .worker .worker_image {
  width: 192px;
  height: 265px;
}
#team #all_workers .worker ul {
  padding-left: 0;
  list-style: none;
  text-align: center;
}
#team #all_workers .worker .website_icon {
  width: 32px;
  height: 32px;
}
#team #all_workers .worker .websites li {
  display: inline-block;
}
