@import 'config.styl'

#div_02_app_explanations

	font-size: 32px

	#div_explanations
		display: flex;
		flex-direction: row;
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
		align-items: center;
		justify-content: space-between;
		
		#div_instructions
			// background-color: blue;
			width: 512px;
			li
				p
					text-align:left

		#div_mockup_phone	
			// background-color: red;
			width: 512px;

	#div_screenshots
		display: flex;
		flex-direction: row;
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
		align-content: space-between;
		align-items: center
		justify-content: space-between;
		img 
			width: 300px;

@media screen and (max-width: 990px)
	#div_02_app_explanations
		#div_explanations
			flex-direction: column;
			width: auto;
		
		#div_screenshots
			flex-direction: column;
