Gray_Background = #181818
Gray_light = #3c3c3c
Footer_red = #b8645a
Footer_yellow = #bb953f

Max_width = 1024px;
Max_width_contact = 800px
Space_between_Content = 70px
Space_between_Contact = 40px

Border_Radius = 32px

Font_Size_Title = 80px
Font_Size_Common_Text = 24px
Font_Size_Info = 26px

Font_Size_Title_Small = 42px
Font_Size_Common_Text_Small = 20px
Font_Size_Info_Small = 22px

Font_Size_Common_Text_Extra_Small = 16px

 @font-face
   font-family Kravet
   font-style normal
   src url(../fonts/Kravet.ttf)

 @font-face
   font-family Raleway_Regular
   font-style normal
   src url(../fonts/Raleway-Regular.ttf)

@font-face
   font-family Raleway_Bold
   font-style strong
   src url(../fonts/Raleway-Bold.ttf)