@import 'config.styl'

#explanations
	margin-top: -42px;
	font-size: 32px
	background-image: url('../img/fond_marbre.png')
	background-repeat: repeat;

	h2
		padding-top: 84px;

	// #instructions_and_mockup_phone
	// 	display: flex;
	// 	flex-direction: row;
	// 	width: 1200px;
	// 	margin-left: auto;
	// 	margin-right: auto;
	// 	align-items: center;
	// 	justify-content: space-between;
		
	// 	#instructions
	// 		width: 768px;
	// 		li
	// 			list-style: none;
	// 			padding-bottom: 16px 
	// 			p
	// 				text-align: left
	// 			.instruction_icon
	// 				width: 48px;
	// 				height: 48px;
	// 				vertical-align: bottom;
	// 				padding-right: 16px;
	// 			.rart_marker
	// 				width: 320px;
	// 				height: auto;
	// 				box-shadow: 4px 4px 8px black;

	#instructions_and_mockup_phone
		display: flex;
		flex-direction: row;
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
		align-items: center;
		justify-content: space-between
		
		#instructions
			display: flex;
			flex-direction: column;
			width: 768px;
			
			.instruction_entry
				display: flex;
				flex-direction: row;
				.instruction_icon
					width: 48px;
					height: 48px;
					padding-right: 16px;
					img 	
						width: 48px;
						height: 48px;
				.instruction_text
					text-align: left;
					// padding-right: 16px;

		#mockup_phone	
			img 
				width: 320px;
				height: auto;

@media screen and (max-width: 1300px)
	#explanations
		#instructions_and_mockup_phone
			width: 1024px;
			#instructions
				width: 512px;

@media screen and (max-width: 1100px)
	#explanations
		font-size: 26px
		#instructions_and_mockup_phone
			width: 860px;
		#mockup_phone	
			img 
				width: 260px;
				height: auto;

@media screen and (max-width: 880px)
	#explanations
		font-size: 32px
		#instructions_and_mockup_phone
			flex-direction: column-reverse;
			width: 800px;
			#instructions
				width: 760px;

@media screen and (max-width: 780px)
	#explanations
		font-size: 26px

		#instructions_and_mockup_phone
			width: 386px;

			#instructions
				width: 580px;
				li
					p
						text-align: left

@media screen and (max-width: 480px)
	#explanations
		font-size: 22px;
		h2
			padding-top: 16px;

		#instructions_and_mockup_phone
			#instructions
				width: 386px;
				ul
					padding-left: 16px;
					li
						.instruction_icon
							width: 40px;
							height: 40px;
							vertical-align: bottom;
							padding-right: 8px;