@import 'config.styl'

#explanations
	padding-top: 128px;
	font-size: 32px

	#instructions_and_mockup_phone
		display: flex;
		flex-direction: row;
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
		align-items: center;
		justify-content: space-between;
		
		#instructions
			width: 512px;
			li
				p
					text-align: left

		#mockup_phone	
			img 
				width: 386px;

	#screenshots
		width: 700px;
		display: flex;
		flex-direction: row;
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
		align-content: space-between;
		align-items: center;
		justify-content: space-between;
		img 
			width: 200px;
			border: 1px solid black;
			border-radius: 8px;

// @media screen and (max-width: 990px)
// 	#explanations
// 		#instructions_and_mockup_phone
// 			flex-direction: column;
// 			width: auto;
		
// 		#screenshots
// 			flex-direction: column;

@media screen and (max-width: 780px)
	#explanations
		padding-top: 128px;
		font-size: 26px

		#instructions_and_mockup_phone
			display: flex;
			flex-direction: column;
			width: 386px;

			#instructions
				width: auto;
				li
					p
						text-align: left