@import 'config.styl'

#explanations
	padding-top: 128px;
	font-size: 32px

	#instructions_and_mockup_phone
		display: flex;
		flex-direction: row;
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
		align-items: center;
		justify-content: space-between;
		
		#instructions
			width: 768px;
			li
				list-style: none;
				p
					text-align: left
				.instruction_icon
					width: 48px;
					height: 48px;
					vertical-align: bottom;
					padding-right: 16px;
				.rart_marker
					width: 320px;
					height: auto;

		#mockup_phone	
			img 
				width: 320px;
				height: auto;

	#screenshots
		width: 700px;
		display: flex;
		flex-direction: row;
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
		align-content: space-between;
		align-items: center;
		justify-content: space-between;
		img 
			width: 200px;
			border: 1px solid black;
			border-radius: 8px;

@media screen and (max-width: 1200px)
	#explanations
		#instructions_and_mockup_phone
			flex-direction: column-reverse;
			width: 800px;
		
		#screenshots
			flex-direction: column;

@media screen and (max-width: 780px)
	#explanations
		padding-top: 128px;
		font-size: 26px

		#instructions_and_mockup_phone
			width: 386px;

			#instructions
				width: 600px;
				li
					p
						text-align: left
		#screenshots
			width: 386px;
			flex-direction: column;	

@media screen and (max-width: 480px)
	#explanations
		font-size: 22px;

		#instructions_and_mockup_phone
			#instructions
				width: 320px;
				ul
					padding-left: 16px;
					li
						.instruction_icon
							width: 40px;
							height: 40px;
							vertical-align: bottom;
							padding-right: 8px;