@import 'config.styl'

html
	scroll-behavior: smooth;

body
	margin: 0;
	width: 100%;
	text-align: center;
	font-family: Overpass
	color: #3c3c3c

	h2
		font-size: 52px;
		color: rgb(20, 20, 20)
	a
		color: rgb(10, 10, 10)
		font-style: bold;

header 
	background-image: url("../img/rideau1.png");
	background-repeat: repeat;
	height: 64px;
	width: 100%;

footer 
	#footer_background
		background-image: url("../img/footer.png");
		background-repeat: no-repeat;
		background-size: 520px 256px;
		height: 256px;
		width: 520px;

		margin: auto;