@import 'config.styl'

html
	scroll-behavior: smooth;

body
	margin: 0;
	width: 100%;
	text-align: center;
	font-family: Overpass
	background-color: rgb(240, 240, 240)
	color: #3c3c3c

	h2
		font-size: 52px;
		color: rgb(20, 20, 20)
	a
		color: rgb(141, 42, 26)
		font-weight: bold;
		text-decoration: none;
		&:hover
			text-decoration: underline;


header 
	background-image: url("../img/rideau1.png");
	background-repeat: repeat;
	height: 64px;
	width: 100%;

	@media screen and (min-width: 1200px)
		display: none;

.frame_separator
	display: flex;
	flex-direction: row;
	height: 30px;
	width: 100%;
	.left_corner
		width: 123px;
		height: 30px;
	.middle_corner
		background-image: url('../img/middle_part.png')
		background-repeat: repeat-x;
		background-size: contain;
		width: 2048px;
		height: 30px;
		margin-left: -1px;
		margin-right: -1px;
	.right_corner
		width: 123px;
		height: 30px;

	@media screen and (max-width: 400px)
		display: none;