@import 'config.styl'

html
	scroll-behavior: smooth;

body
	margin: 0;
	width: 100%;
	text-align: center;
	font-family: Overpass
	background-color: rgb(240, 240, 240)
	color: #3c3c3c

	h2
		font-size: 52px;
		color: rgb(20, 20, 20)
	a
		color: rgb(10, 10, 10)
		font-style: bold;
		text-decoration: none;
		&:hover
			text-decoration: underline;

	.main_div
		// padding-top: 128px;
		// padding-bottom: 128px;


header 
	background-image: url("../img/rideau1.png");
	background-repeat: repeat;
	height: 64px;
	width: 100%;

	@media screen and (min-width: 880px)
		display: none;

.frame_separator
	display: flex;
	flex-direction: row;
	height: 30px;
	width: 100%;
	.left_corner
		width: 123px;
		height: 30px;
	.middle_corner
		background-image: url('../img/middle_part.png')
		background-repeat: repeat-x;
		background-size: contain;
		width: 2048px;
		height: 30px;
	.right_corner
		width: 123px;
		height: 30px;

footer 
	a 
		color: rgb(175, 175, 175)
	color: rgb(175, 175, 175)
	margin-top: 128px;
	
	#footer_background
		text-align: bottom;
		background-image: url("../img/footer.png");
		background-repeat: no-repeat;
		background-size: 520px 256px;
		height: 256px;
		width: 520px;

		margin: auto;

		div
			height: 256px;
			display: flex;
			flex-direction: column-reverse
			margin-top: auto;
			margin-bottom: 0;
			p
				text-align: center;
				margin-left: 48px;
				margin-right: 48px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				padding-bottom: 2px;