#presentation
    margin-bottom: 82px;
    h1
        font-family: Elephant
        font-size: 128px
        margin: 32px;
        color: rgb(20, 20, 20)

        @media screen and (max-width: 800px)
            font-size: 92px;

    h3
        margin: 0px 32px;
        font-size: 36px;
        @media screen and (max-width: 800px)
            font-size: 28px;

    .illustration
        background-image: url('../img/illus.png');
        background-size: 726px 500px;
        background-repeat: no-repeat;
        width: 726px;
        height: 500px;
        margin: auto;
        margin-top: 96px;
        border-radius: 16px;

        @media screen and (min-width: 581px) and (max-width: 800px)
            background-size: 544px 375px;
            width: 544px;
            height: 375px;

        @media screen and (max-width: 620px)
            background-size: 363px 250px;
            width: 363px;
            height: 250px;

        @media screen and (max-width: 400px)
            background-size: 250px 172px;
            width: 250px;
            height: 172px;


    .google_play    
        padding-top: 128px;
        width: 256px;
