#presentation
    h1
        font-family: Elephant
        font-size: 128px
        margin: 32px auto;
        color: rgb(20, 20, 20)

    h3
        margin: 0px auto;
        font-size: 36px;

    .illustration
        background-image: url('../img/illus.png');
        background-size: 726px 500px;
        background-repeat: no-repeat;
        width: 726px;
        height: 500px;
        margin: auto;

        margin-top: 96px;

        border-radius: 16px;

    .google_play    
        padding-top: 128px;
        width: 256px;
