#team
    padding: 64px 0;
    
    #all_workers
        display: flex;
        flex-direction: row;
        margin: 0 auto;

        align-content: space-between;
        justify-content: space-between;
        width: 1100px;
        align-items: center;

        @media screen and (max-width: 1200px)
            width: 840px;

        @media screen and (max-width: 880px)
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0 8px;
            align-items: center;
            
        .worker
            display: flex;
            flex-direction: column
            width: 100%;
            color: rgb(10, 10, 10)
            font-size: 18px;
            align-items: center;
            height: 380px

            margin: 24px;
            padding: 16px;
            padding-top: 48px;
            border-radius: 6px;
            background: rgb(250, 250, 250);
            box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);

            // @media screen and (max-width: 1024px)
                // height: 256px;

            @media screen and (max-width: 880px)
                height: auto;
                padding-bottom: 64px;
                flex-direction: row;
                justify-content: center
                margin: auto;
                border-radius: 0px
                box-shadow: none;
                background: none;

            .worker_image 
                width: 160px;
                height: 160px;
                img 
                    width: 100%
                    height: 100%;

            .worker_info
                display: flex;
                flex-direction: column;

                @media screen and (max-width: 880px)
                    padding-left: 8px;
                    text-align: left
                    width: 160px;

                .worker_name
                    margin: 6px;  
                    font-size: 40px; 

                    @media screen and (max-width: 880px)
                        font-size: 32px;
                ul
                    margin: 6px;   
                    padding-left: 0
                    list-style: none;

                    @media screen and (max-width: 880px)
                        font-size: 16px;

                .website_icon  
                    width: 32px;
                    height: 32px;

                    @media screen and (max-width: 880px)
                        width: 24px;
                        height: 24px;

                .websites
                    li
                        margin-right: 8px;
                        display: inline-block;