#team
    #all_workers
        display: flex;
        flex-direction: row;
        margin: 0 auto;

        align-content: space-between;
        justify-content: space-between;
        
        .worker
            background-image: url(../img/panneau_grand.png)
            width: 256px;
            height: 384px;

@media screen and (max-width: 480px)
    #team
        #all_workers
            display: flex;
            flex-direction: column;
            height: 1200px;
            width: 386px;
            align-items: center;